.contactContainer {
    margin-top: 100px;
  }
  .formContainer {
    width: 80%;
    max-width: 500px;
    margin: auto;
    input::placeholder {
       font-size: 15px;
    }
    textarea::placeholder {
      font-size: 15px;
      line-height: 110px;
    }
  } 
  
  /* .contactInfo{
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: inherit;

  a {
    margin-left: 10px;
    &:hover {
      text-decoration: underline;
    }
  }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0;}
  }

  .title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    margin-top: 20px;
  }

  .contactContainer {
    margin-top: 10px;
  } */