<div class="contact-container">
  <h1 class="title">Contact Me</h1>

  <!-- <div *ngIf="!succeeded; else successMessage">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">Invalid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="Subject" formControlName="subject" required>
        <mat-icon matPrefix>subject</mat-icon>
        <mat-error *ngIf="contactForm.get('subject')?.invalid && contactForm.get('subject')?.touched">Required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Message" formControlName="message" required rows="4"></textarea>
        <mat-icon matPrefix>message</mat-icon>
        <mat-error *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">Required</mat-error>
      </mat-form-field>

      <div class="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="submitting">Send</button>
      </div>
    </form>
  </div>

  <ng-template #successMessage>
    <div class="center">
      <mat-icon color="primary" fontIcon="check_circle"></mat-icon>
      <p>Your submission has been received. Thanks for your submission!</p>
    </div>
  </ng-template>
</div> -->
 

 <div class="contactContainer">
  <h1 class="title">Let's get in touch..</h1>
 <div class="contactInfo">
  <p>
  <mat-icon>email</mat-icon>
      <a href="mailto:rutvirathod423@gmail.com">rutvirathod423@gmail.com</a>
  </p>
  <p>
  <mat-icon>phone</mat-icon>
      <a href="tel:+1(647) 472-1823">+1(647) 472-1823</a>
  </p>
</div>
 </div>
