
<div class="home">
  <div class="homeContainer">
    <div class="textContainer">
      <h3>Hello 👋, I am </h3>
      <h1>Rutvi Rathod</h1>
      <h2>Software Engineer</h2>
      <div class="iconContainer">
        <a
          href="https://github.com/RutviRathod"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="iconInnerContainer">
            <mat-icon svgIcon="github" class="mat-icon"></mat-icon>
            <span>Github</span>
          </div>
        </a>
        <a
          href="https://linkedin.com/in/rutvi-rathod23"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="iconInnerContainer">
            <mat-icon svgIcon="linkedin" class="mat-icon"></mat-icon>
            <span>Linkedin</span>
          </div>
        </a>
      </div>
    </div>
    <div class="imageContainer">
      <img
        class="profile-picture"
        src="../../assets/rutvi.jpg"
        alt="Picture of the author"
      />
    </div>
  </div>
</div>
